Questo notebook Ã¨ orientato alla preparazione dei dati relativi alle coltivazioni. Contiene diverse celle di codice che eseguono operazioni come la lettura di file CSV, la pulizia e la manipolazione dei dati, e infine il salvataggio dei dati puliti in un nuovo file CSV.

Importazione delle librerie necessarie

In [3]:
# Importa le librerie necessarie
import pandas as pd

Lettura del file CSV

In [4]:

# Lettura dataset da un file CSV . Dataset scaricato dal sito istat 
frumento = pd.read_excel("../../data/raw/ita/coltivazioni_istat.xlsx")

Esplorazione iniziale del DataFrame

In [5]:
#Vediamo il dataset per comprenderne la struttura e il contenuto 
display(frumento)

,Seleziona periodo,2006,Unnamed: 2,2007,Unnamed: 4,2008,Unnamed: 6,2009,Unnamed: 8,2010,...,2019,Unnamed: 28,2020,Unnamed: 30,2021,Unnamed: 32,2022,Unnamed: 34,2023,Unnamed: 36
0,Tipo dato,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,...,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali
1,Territorio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Torino,17100,1197000,21502,1333100,23400,1216800,23167,1149083,20904,...,14928,821054,15362,844910,16831,925705,16375,886960,20114,1045930
3,Vercelli,1065,53456,1900,96877,1423,72716,1587,80778,1631,...,1360,81590,1285,64250,1491,74550,1510,72430,2210,132600
4,Novara,1658,87500,2820,147183,3500,143500,2510,115460,1297,...,1599,91140,1211,60550,1519,75950,1750,96305,2876,178310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Olbia-Tempio,..,..,..,..,132,2376,..,..,..,...,..,..,..,..,..,..,..,..,..,..
99,Ogliastra,..,..,..,..,152,2736,..,..,..,...,..,..,..,..,..,..,..,..,..,..
100,Medio Campidano,..,..,..,..,40,720,..,..,..,...,..,..,..,..,..,..,..,..,..,..
101,Carbonia-Iglesias,..,..,..,..,88,1584,..,..,..,...,..,..,..,..,..,..,..,..,..,..
102,Sud Sardegna,..,..,..,..,..,..,..,..,..,...,326,8134,425,8625,525,18103,155,4310,55,1514

Operazioni sui dati

In [6]:
# Ridenominazione colonne e filtraggio delle colonne/righe non corrette
# Allo stesso temnpo si compongono delle stringhe che saranno i nomi finali delle colonne

# Inizializza il numero della colonna e l'anno iniziale
num = 2
anno = 2006

# Nomi iniziali delle colonne basati sulle prime colonne
col_name = f'{anno}'
col_name_next = f'Unnamed: {num}' if num+2 < len(frumento.columns) else None

# Combina anno e tipo di dato per i nomi delle colonne
a = col_name
b = frumento.loc[0, col_name] if col_name else None
c = frumento.loc[0, col_name_next] if col_name_next else None

# Aggiorna il DataFrame con i nomi delle colonne combinati
frumento.loc[1, col_name] = str(a) + ' - ' + str(b)
frumento.loc[1, col_name_next] = str(a) + ' - ' + str(c)
num+=2
anno += 1

# Loop attraverso le restanti colonne per costruire e impostare i nuovi nomi delle colonne
while num < len(frumento.columns):        
    col_name = f'{anno}'
    col_name_next = f'Unnamed: {num}' if num+1 <= len(frumento.columns) else None

    a = col_name
    b = frumento.loc[0, col_name] if col_name else None
    c = frumento.loc[0, col_name_next] if col_name_next else None
    frumento.loc[1, col_name] = str(a) + ' - ' + str(b)
    frumento.loc[1, col_name_next] = str(a) + ' - ' + str(c)
    num+=2
    anno+=1

display(frumento)

,Seleziona periodo,2006,Unnamed: 2,2007,Unnamed: 4,2008,Unnamed: 6,2009,Unnamed: 8,2010,...,2019,Unnamed: 28,2020,Unnamed: 30,2021,Unnamed: 32,2022,Unnamed: 34,2023,Unnamed: 36
0,Tipo dato,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,...,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali
1,Territorio,2006 - superficie totale - ettari,2006 - produzione totale - quintali,2007 - superficie totale - ettari,2007 - produzione totale - quintali,2008 - superficie totale - ettari,2008 - produzione totale - quintali,2009 - superficie totale - ettari,2009 - produzione totale - quintali,2010 - superficie totale - ettari,...,2019 - superficie totale - ettari,2019 - produzione totale - quintali,2020 - superficie totale - ettari,2020 - produzione totale - quintali,2021 - superficie totale - ettari,2021 - produzione totale - quintali,2022 - superficie totale - ettari,2022 - produzione totale - quintali,2023 - superficie totale - ettari,2023 - produzione totale - quintali
2,Torino,17100,1197000,21502,1333100,23400,1216800,23167,1149083,20904,...,14928,821054,15362,844910,16831,925705,16375,886960,20114,1045930
3,Vercelli,1065,53456,1900,96877,1423,72716,1587,80778,1631,...,1360,81590,1285,64250,1491,74550,1510,72430,2210,132600
4,Novara,1658,87500,2820,147183,3500,143500,2510,115460,1297,...,1599,91140,1211,60550,1519,75950,1750,96305,2876,178310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Olbia-Tempio,..,..,..,..,132,2376,..,..,..,...,..,..,..,..,..,..,..,..,..,..
99,Ogliastra,..,..,..,..,152,2736,..,..,..,...,..,..,..,..,..,..,..,..,..,..
100,Medio Campidano,..,..,..,..,40,720,..,..,..,...,..,..,..,..,..,..,..,..,..,..
101,Carbonia-Iglesias,..,..,..,..,88,1584,..,..,..,...,..,..,..,..,..,..,..,..,..,..
102,Sud Sardegna,..,..,..,..,..,..,..,..,..,...,326,8134,425,8625,525,18103,155,4310,55,1514

In [7]:
# Si impostano nuovi nomi per tutte le colonne
frumento.columns = frumento.iloc[1].tolist()
display(frumento)

,Territorio,2006 - superficie totale - ettari,2006 - produzione totale - quintali,2007 - superficie totale - ettari,2007 - produzione totale - quintali,2008 - superficie totale - ettari,2008 - produzione totale - quintali,2009 - superficie totale - ettari,2009 - produzione totale - quintali,2010 - superficie totale - ettari,...,2019 - superficie totale - ettari,2019 - produzione totale - quintali,2020 - superficie totale - ettari,2020 - produzione totale - quintali,2021 - superficie totale - ettari,2021 - produzione totale - quintali,2022 - superficie totale - ettari,2022 - produzione totale - quintali,2023 - superficie totale - ettari,2023 - produzione totale - quintali
0,Tipo dato,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,...,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali,superficie totale - ettari,produzione totale - quintali
1,Territorio,2006 - superficie totale - ettari,2006 - produzione totale - quintali,2007 - superficie totale - ettari,2007 - produzione totale - quintali,2008 - superficie totale - ettari,2008 - produzione totale - quintali,2009 - superficie totale - ettari,2009 - produzione totale - quintali,2010 - superficie totale - ettari,...,2019 - superficie totale - ettari,2019 - produzione totale - quintali,2020 - superficie totale - ettari,2020 - produzione totale - quintali,2021 - superficie totale - ettari,2021 - produzione totale - quintali,2022 - superficie totale - ettari,2022 - produzione totale - quintali,2023 - superficie totale - ettari,2023 - produzione totale - quintali
2,Torino,17100,1197000,21502,1333100,23400,1216800,23167,1149083,20904,...,14928,821054,15362,844910,16831,925705,16375,886960,20114,1045930
3,Vercelli,1065,53456,1900,96877,1423,72716,1587,80778,1631,...,1360,81590,1285,64250,1491,74550,1510,72430,2210,132600
4,Novara,1658,87500,2820,147183,3500,143500,2510,115460,1297,...,1599,91140,1211,60550,1519,75950,1750,96305,2876,178310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Olbia-Tempio,..,..,..,..,132,2376,..,..,..,...,..,..,..,..,..,..,..,..,..,..
99,Ogliastra,..,..,..,..,152,2736,..,..,..,...,..,..,..,..,..,..,..,..,..,..
100,Medio Campidano,..,..,..,..,40,720,..,..,..,...,..,..,..,..,..,..,..,..,..,..
101,Carbonia-Iglesias,..,..,..,..,88,1584,..,..,..,...,..,..,..,..,..,..,..,..,..,..
102,Sud Sardegna,..,..,..,..,..,..,..,..,..,...,326,8134,425,8625,525,18103,155,4310,55,1514

In [8]:
# Elimina le prime due righe che contengono metadati
frumento.drop(0, inplace=True)
frumento.drop(1, inplace=True)

In [9]:
# Rinomina la colonna 'Territorio' in 'zona'
frumento.rename(columns={'Territorio': 'zona'}, inplace=True)

# Imposta 'zona' come indice del DataFrame
frumento.set_index("zona")

,2006 - superficie totale - ettari,2006 - produzione totale - quintali,2007 - superficie totale - ettari,2007 - produzione totale - quintali,2008 - superficie totale - ettari,2008 - produzione totale - quintali,2009 - superficie totale - ettari,2009 - produzione totale - quintali,2010 - superficie totale - ettari,2010 - produzione totale - quintali,...,2019 - superficie totale - ettari,2019 - produzione totale - quintali,2020 - superficie totale - ettari,2020 - produzione totale - quintali,2021 - superficie totale - ettari,2021 - produzione totale - quintali,2022 - superficie totale - ettari,2022 - produzione totale - quintali,2023 - superficie totale - ettari,2023 - produzione totale - quintali
zona,,,,,,,,,,,,,,,,,,,,,
Torino,17100,1197000,21502,1333100,23400,1216800,23167,1149083,20904,1092994,...,14928,821054,15362,844910,16831,925705,16375,886960,20114,1045930
Vercelli,1065,53456,1900,96877,1423,72716,1587,80778,1631,83845,...,1360,81590,1285,64250,1491,74550,1510,72430,2210,132600
Novara,1658,87500,2820,147183,3500,143500,2510,115460,1297,68200,...,1599,91140,1211,60550,1519,75950,1750,96305,2876,178310
Cuneo,21000,1050000,22670,1128947,28000,1232000,22059,791918,17708,938216,...,13500,837000,13253,821686,16350,1043600,16085,852000,19610,1077250
Asti,10200,581400,8719,412431,10500,315000,7947,238410,9987,521460,...,7120,284780,6628,298260,8319,540735,8352,501120,9322,419490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Olbia-Tempio,..,..,..,..,132,2376,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
Ogliastra,..,..,..,..,152,2736,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
Medio Campidano,..,..,..,..,40,720,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
Carbonia-Iglesias,..,..,..,..,88,1584,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
Sud Sardegna,..,..,..,..,..,..,..,..,..,..,...,326,8134,425,8625,525,18103,155,4310,55,1514

In [10]:
# Typo fix e salvataggio
frumento = frumento.map(lambda x: x.lower() if isinstance(x, str) else x)
display(frumento)

,zona,2006 - superficie totale - ettari,2006 - produzione totale - quintali,2007 - superficie totale - ettari,2007 - produzione totale - quintali,2008 - superficie totale - ettari,2008 - produzione totale - quintali,2009 - superficie totale - ettari,2009 - produzione totale - quintali,2010 - superficie totale - ettari,...,2019 - superficie totale - ettari,2019 - produzione totale - quintali,2020 - superficie totale - ettari,2020 - produzione totale - quintali,2021 - superficie totale - ettari,2021 - produzione totale - quintali,2022 - superficie totale - ettari,2022 - produzione totale - quintali,2023 - superficie totale - ettari,2023 - produzione totale - quintali
2,torino,17100,1197000,21502,1333100,23400,1216800,23167,1149083,20904,...,14928,821054,15362,844910,16831,925705,16375,886960,20114,1045930
3,vercelli,1065,53456,1900,96877,1423,72716,1587,80778,1631,...,1360,81590,1285,64250,1491,74550,1510,72430,2210,132600
4,novara,1658,87500,2820,147183,3500,143500,2510,115460,1297,...,1599,91140,1211,60550,1519,75950,1750,96305,2876,178310
5,cuneo,21000,1050000,22670,1128947,28000,1232000,22059,791918,17708,...,13500,837000,13253,821686,16350,1043600,16085,852000,19610,1077250
6,asti,10200,581400,8719,412431,10500,315000,7947,238410,9987,...,7120,284780,6628,298260,8319,540735,8352,501120,9322,419490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,olbia-tempio,..,..,..,..,132,2376,..,..,..,...,..,..,..,..,..,..,..,..,..,..
99,ogliastra,..,..,..,..,152,2736,..,..,..,...,..,..,..,..,..,..,..,..,..,..
100,medio campidano,..,..,..,..,40,720,..,..,..,...,..,..,..,..,..,..,..,..,..,..
101,carbonia-iglesias,..,..,..,..,88,1584,..,..,..,...,..,..,..,..,..,..,..,..,..,..
102,sud sardegna,..,..,..,..,..,..,..,..,..,...,326,8134,425,8625,525,18103,155,4310,55,1514

Salvataggio dataset modificato

In [11]:
# Salva il DataFrame pulito in un file CSV
frumento.to_csv(f"../../data/raw/ita/dataset_frumento_prov_ita.csv", index=False)